<!-- <form th:action="@{/user/{userId}/edit(userId=${user.userId})}" th:object="${user}" method="post">
  <div>
    <h2>ユーザー詳細</h2>
    <div>
      <label for="name">名前:</label>
      <input type="text" id="name" th:field="*{name}">
    </div>
    <div>
      <label for="mail-address">メールアドレス:</label>
      <input type="text" id="mail-address" th:field="*{mailAddress}">
    </div>
    <div>
      <label for="password">パスワード:</label>
      <input type="password" id="password" th:field="*{password}">
    </div>
    <div>
      <input class="btn btn-primary" type="submit" value="タスク編集">
    </div>
  </div>
</form> -->
<p th:fragment="form">edit</p>
