<p th:fragment="form">register</p>
<!-- model.addAttribute("platforms", platforms);を一覧表示 -->
<form th:action="@{/event/register}" th:object="${taskForm}" method="post">
  <div>
    <h2>イベント登録</h2>
    <div>
      <label for="company-id">企業:</label>
      <select id="company-id" th:field="*{companyId}">
        <option th:each="company : ${companies}" th:value="${company.companyId}" th:text="${company.name}"></option>
      </select>
    </div>
    <div>
      <label for="name">イベント名:</label>
      <input type="text" id="name" th:field="*{name}">
    </div>
    <div>
      <label for="date">日付:</label>
      <input type="date" id="date" th:field="*{date}">
    </div>
    <div>
      <label for="platform">プラットフォーム:</label>
      <select id="platform" th:field="*{platform}">
        <option th:each="platform : ${platforms}" th:value="${platform.platformId}" th:text="${platform.name}"></option>
      </select>
    </div>
    <div>
      <input class="btn btn-primary" type="submit" value="登録">
    </div>
  </div>
</form>
<ul>
  <li th:each="platform : ${platforms}" th:text="${platform.name}"></li>
  <li th:each="platform : ${platforms}" th:text="${platform.platformId}"></li>
</ul>