<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>企業詳細</title>
</head>
<body>
  <div th:insert="~{common/sourceList :: sourceList}"></div>
  <div th:insert="~{common/header :: header}"></div>
  <div class="company-index">
    <div class="container-fluid">
      <h2>企業情報編集</h2>
      <form th:action="@{/registerCompany}" th:object="${companyForm}" method="post">
        <div class="form-group">
          <div class="col-3 col-md-2 col-xxl-1" style="margin-bottom: 20px;">
            <p><label for="name">企業名:</label></p>
            <input type="text" id="name" th:field="*{name}" style="display: block;">
            <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
            <div th:if="${isExist}" class="text-danger" th:text="${isExist}"></div>
          </div>
          <input type="hidden" name="userId" th:value="${userId}">
          <div class="col-3 col-md-2 col-xxl-1" style="margin-bottom: 20px;">
            <select id="platformId" th:field="*{platformId}">
              <option value="" th:text="'プラットフォームを選択してください'"></option>
              <option th:each="platform : ${platforms}" th:value="${platform.platformId}" th:text="${platform.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('platformId')}" class="text-danger" th:errors="*{platformId}"></div>
          </div>
          <div class="col-3 col-md-2 col-xxl-1" style="margin-bottom: 20px;">
            <select th:field="*{statusId}">
              <option value="" th:text="'ステータスを選択してください'"></option>
              <option th:each="status : ${statusList}" th:value="${status.statusId}" th:text="${status.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('statusId')}" class="text-danger" th:errors="*{statusId}"></div>
          </div>
          <p><input class="btn btn-primary" type="submit" value="編集"></p>
        </div>
      </form>
    </div>
    <div class="container-fluid">
      <h2>企業詳細</h2>
      <p><strong>企業名:</strong> <span th:text="${company.name}"></span></p>
      <p><strong>利用プラットフォーム:</strong> <span th:text="${registerPlatform.name}"></span></p>
      <p><strong>ステータス:</strong> <span th:if="${status != null}" th:text="${status.name}"></span></p>
      <p>今後の流れ</p>
      <!-- イベント実装後にDBに登録した予定一覧を表示 -->
    </div>
  </div>
</body>
</html>