<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@3.2.2/event-calendar.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@3.2.2/event-calendar.min.js"></script>
  <title>メインメニュー</title>
</head>
<body>
  <div th:insert="~{common/sourceList :: sourceList}"></div>
  <div th:replace="common/header :: header"></div>
  <div class="company-index">
    <div class="container-fluid">
      <h2>新規企業登録</h2>
      <form th:action="@{/registerCompany}" th:object="${companyForm}" method="post">
        <div class="form-group">
          <div class="col-3 col-md-2 col-xxl-1" style="margin-bottom: 20px;">
            <div style="display: flex; height: 30px;">
              <p><label for="name" style="width: 60px;">企業名:</label></p>
              <input type="text" id="name" th:field="*{name}" style="display: block;">
            </div>
            <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}" style="width: 250px;"></div>
            <div th:if="${isExist}" class="text-danger" th:text="${isExist}" style="width: 200px;"></div>
          </div>
          <input type="hidden" name="userId" th:value="${userId}">
          <div class="col-3 col-md-2 col-xxl-1" style="margin-bottom: 20px;">
            <select id="platformId" th:field="*{platformId}">
              <option value="" th:text="'プラットフォームを選択してください'"></option>
              <option th:each="platform : ${platforms}" th:value="${platform.platformId}" th:text="${platform.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('platformId')}" class="text-danger" th:errors="*{platformId}" style="width: 210px;"></div>
          </div>
          <div class="col-3 col-md-2 col-xxl-1" style="margin-bottom: 20px;">
            <select th:field="*{statusId}">
              <option value="" th:text="'ステータスを選択してください'"></option>
              <option th:each="status : ${statusList}" th:value="${status.statusId}" th:text="${status.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('statusId')}" class="text-danger" th:errors="*{statusId}" style="width: 210px;"></div>
          </div>
          <p><input class="btn btn-primary" type="submit" value="登録"></p>
        </div>
      </form>
    </div>
    <div class="container-fluid">
      <h2>登録済みの企業一覧</h2>
      <div th:each="company : ${companies}">
        <a th:href="@{/company/{companyId}(companyId=${company.id})}">
          <span th:text="${company.name}"></span>
        </a>
      </div>
    </div>
  </div>
  <div id="black-background"></div>
</body>
</html>